<article class="announcement" {% if settings.banner.banner_style === 'full' %} role="dialog" {% endif %}>
    <section>
        {{ settings.banner.banner_copy }}
    </section>
    {% if settings.banner.banner_style === 'full' %}
        <button class="close-banner">
            <span class="screenreader">Dismiss Announcement</span>
        </button>
    {% endif %}
</article>