{% if layout != "top" %}
    {% set width = "385" %}
    {% set height = "420" %}
{% else %}
    {% set width = "385" %}
    {% set height = "255" %}
{% endif %}
<article class="content-card layout-{{ layout }}">
    <figure>
        {% respimg
            src="{{card.card_image}}",
            width="{{width}}",
            height="{{height}}",
            sizes="320, 960, 1280",
            alt="{{ card.alt }}",
            loading="lazy"
        %}
    </figure>
    <section>
        {{ card.content | md | safe }}
    </section>
</article>