{% if layout != "top" %}
    {% set width = "385" %}
    {% set height = "420" %}
{% else %}
    {% set width = "385" %}
    {% set height = "255" %}
{% endif %}
<article class="content-card layout-{{ layout }}">
    <figure>
        {% cloudImg
            card.card_image,
            card.alt,
            width,
            height,
            loading="lazy"
        %}
    </figure>
    <section>
        {{ card.content | md | safe }}
    </section>
</article>