{% set width = "900" %}
{% set height = "550" %}
{% respimg
    src="{{ item.gallery_image }}",
    width="{{width}}",
    height="{{height}}",
    sizes="320, 960, 1280",
    alt="{{ item.alt }}",
    loading="lazy",
    class="glide__slide"
%}