{% set width = "320" %}
{% set height = "512" %}
<figure class="grid-image">
    {% respimg
        src="{{ item.gallery_image }}",
        width="{{width}}",
        height="{{height}}",
        sizes="320, 960, 1280",
        alt="{{ item.alt }}",
        loading="lazy",
        class="img-zoomable"
    %}
</figure>