{% set width = "320" %}
{% set height = "512" %}
<figure class="grid-image">
    {% cloudImg
        item.gallery_image,
        item.alt,
        width,
        height,
        "img-zoomable",
        "lazy"
    %}
</figure>