<header id="site-header" class="overview">
    <section class="site-title" role="banner">
        <div class="site-logo">
            <h1 class="screenreader" itemprop="name">Kerlaches</h1>
            {% cloudImg
                settings.site-logo,
                "Kerlaches",
                "261",
                "236"
            %}
        </div>
    </section>
    <section class="kerlaches-details">
        <article class="button-group">
            <a href="https://goo.gl/maps/XE2bFdThfF3FFkZQ8" class="cta">Get Directions</a>
        </article>
        <aside class="hours">
            <h2>Hours</h2>
            <ul>
            {% for day in restaurant.openingHours %}
                {% set hours %}
                    {% if day.closed === true -%}
                        Closed
                    {%- else -%}
                    <time datetime="{{day.open_time}}">{{ day.open_time }}</time> - <time datetime="{{ day.closing_time }}">{{ day.closing_time }}</time>
                    {%- endif %}
                {% endset %}
                <li><strong>{{ day.day }}</strong>: {{ hours | safe }} </li>
            {% endfor %}
            </ul>
        </aside>
        <aside class="contact">
            {% if settings.contact_info.phone %}
                {{ settings.contact_info.phone | phone | safe }}
            {% endif %}
            {% if settings.contact_info.address %}
                {% set location -%}
                    {{ settings.contact_info.address }} {{ settings.contact_info.city }}, {{ settings.contact_info.stat }} {{ settings.contact_info.zipcode }}
                {%- endset %}
                <a href="{{ location | gmapLink }}" title="Get directions">{{- location -}}</a>
            {% endif %}
        </aside>
        {% if settings.contact_info.emails %}
            <aside class="email-contact">
                <p>
                    {% for c in settings.contact_info.emails %}
                        <a href="mailto:{{ c.email }}">{{- c.email -}}</a>
                        {%- if not loop.last -%}
                            |
                        {%- endif -%}
                    {% endfor %}
                </p>
            </aside>
        {% endif %}
    </section>
</header>