<header id="site-header" class="overview">
    <section class="site-title" role="banner">
        <div class="site-logo">
            <h1 class="screenreader" itemprop="name">Kerlaches</h1>
            <img src="/assets/img/kerlaches-logo.png" width="261" height="236" />
        </div>
    </section>
    <section class="contigo-details">
        <article class="button-group">
            {% for button in restaurant.cta %}
                {% if button.action == "reservations" %}
                    <button class="cta" data-type="reservations" id="reztoggle">{{ button.label }}</button>
                {% endif %}
                {% if button.action == "order" %}
                    <a href="{{ settings.order_link }}" class="cta">{{ button.label }}</a>
                {% endif %}
                {% if button.action == "gift-card" %}
                    <a href="{{ settings.gift_cards }}" class="cta">{{ button.label }}</a>
                {% endif %}
            {% endfor %}
        </article>
        <aside class="hours">
            <h2>Hours</h2>
            <ul>
            {% for day in restaurant.openingHours %}
                {% set hours %}
                    {% if day.closed === true -%}
                        Closed
                    {%- else -%}
                        <time datetime="{{day.open_time}}">{{ day.open_time }}</time> - <time datetime="{{ day.closing_time }}">{{ day.closing_time }}</time>
                    {%- endif %}
                {% endset %}
                <li><strong>{{ day.day }}</strong>: {{ hours }} </li>
            {% endfor %}
            </ul>
        </aside>
        <aside class="contact">
            {% if settings.contact_info.phone %}
                {{ settings.phone | phone | safe }}
            {% endif %}
            {% if settings.contact_info.address %}
                {% set location %}
                    {{ settings.contact_info.address }} {{ settings.contact_info.city }}, {{ settings.contact_info.stat }} {{ settings.contact_info.zipcode }}
                {% endset %}
                <a href="{{ location | gmapLink }}" title="Get directions">{{- location -}}</a>
            {% endif %}
        </aside>
        {% if settings.contact_info.emails %}
            <aside class="email-contact">
                <p>
                    {% for c in settings.contact_info.emails %}
                        <a href="mailto:{{ c.email }}">{{- c.email -}}</a>
                        {%- if not loop.last -%}
                            |
                        {%- endif -%}
                    {% endfor %}
                </p>
            </aside>
        {% endif %}
    </section>
</header>