<section class="ctx-overlay">
    <article class="accordion">
        {% for exp in overlay.expandables %}
            <h2>
                <button data-expandable="{{ exp.title | ariaExpander }}" aria-controls="{{ exp.title | ariaExpander }}" aria-expanded="false">
                    <span class="indicator"></span>
                    {{ exp.title }}
                </button>
            </h2>
            <div id="{{ exp.title | ariaExpander }}" aria-hidden="true">
                {% if exp.title == "Menus" %}
                    <ul>
                        {% for shift in restaurant.service_hours %}
                            {% if shift.menu_file %}
                                <li>
                                    <a href="{{ shift.menu_file }}" class="menu">{{ shift.service }} Menu</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ exp.content | md | safe }}
                {% endif %}
            </div>
        {% endfor %}
    </article>
</section>