<section class="ctx-overlay">
    <article class="accordion">
        {% for exp in overlay.expandables %}
            <h2>
                <button data-expandable="{{ exp.title | ariaExpander }}" aria-controls="{{ exp.title | ariaExpander }}" aria-expanded="false">
                    <span class="indicator">+</span>
                    {{ exp.title }}
                </button>
            </h2>
            <div id="{{ exp.title | ariaExpander }}" aria-hidden="true">
                {{ exp.content | md | safe }}
            </div>
        {% endfor %}
    </article>
</section>