<section id="reservations" role="dialog" aria-labelledby="reztoggle restoggle-mobile" aria-modal="true">
    <button class="close-reservations">
        <span class="screenreader">Close Reservations Modal</span>
    </button>
    <article>
        {{ settings.reservations_widget | safe }}
    </article>
</section>