<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.njk" %}
    </head>
    <body data-menu-open="false" data-banner="{% if settings.banner.show_banner == true %}{{ settings.banner.banner_style }}{% else %}none{% endif %}">
        {% if settings.banner.show_banner == true %}
            {% include "components/banner.njk" %}
        {% endif %}
        {% include "components/header.njk" %}
        <main id="top">
            <section id="slider" class="glide">
                <div data-glide-el="track" class="glide__track">
                    <figure class="slideshow glide__slides">
                        {% for item in slider %}
                            {% include "components/gallery-slide.njk" %}
                        {% endfor %}
                    </figure>
                </div>
                <span class="pager"></span>
            </section>
            <div class="button-group default-margins">
                {% for button in restaurant.cta %}
                    {% if button.action == "reservations" %}
                        <button class="cta" data-type="reservations" id="reztoggle-mobile">{{ button.label }}</button>
                    {% endif %}
                    {% if button.action == "order" %}
                        <a href="{{ settings.order_link }}" class="cta">{{ button.label }}</a>
                    {% endif %}
                {% endfor %}
            </div>
            {% if site_intro %}
                <section id="intro" class="default-margins">
                    <div class="subhead is-text-md">{{ site_intro.subhead }}</div>
                    {{ site_intro.content | md | safe }}
                </section>
            {% endif %}
            {{ layoutContent | safe }}
            <section class="content-cards default-margins">
                {% for card in cards %}
                    {% set layout = card.image_style %}
                    {% include "components/content-card.njk" %}
                {% endfor %}
            </section>
            <section class="content-cards content--columns default-margins">
                {% for card in column_cards %}
                    {% set layout = "top" %}
                    {% include "components/content-card.njk" %}
                {% endfor %}
            </section>
            <section class="gallery-grid default-margins">
                {% for item in grid %}
                    {% include "components/gallery-grid.njk" %}
                {% endfor %}
                <footer>
                    <p>Find us on Instagram<br>
                        <a href="{{ settings.social.instagram }}">{{ settings.social.instagram | instaUsernameFromUrl }}</a>
                    </p>
                </footer>
            </section>
            {% include "components/footer.njk" %}
        </main>
        <script src="assets/js/kerlaches.bundle.js"></script>
        <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </body>
</html>