<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "components/head.njk" %}
    </head>
    <body data-menu-open="false">
        {% include "components/header.njk" %}
        <main>
            {% if site_intro %}
                <section id="intro" class="default-margins">
                    <div class="subhead is-text-md">{{ site_intro.subhead }}</div>
                    {{ site_intro.content | md | safe }}
                </section>
            {% endif %}
            {{ layoutContent | safe }}
            <section class="content-cards">
                {% for card in cards %}
                    {% include "components/content-card.njk" %}
                {% endfor %}
            </section>
            <section class="gallery-grid">
                {% for item in grid %}
                    {% include "components/gallery-grid.njk" %}
                {% endfor %}
                <footer>
                    <p>Find us on Instagram<br>
                        <a href="{{ data.settings.social.instagram }}">@contigoaustin</a>
                    </p>
                </footer>
            </section>
            {% include "components/footer.njk" %}
        </main>
        <script>
            !function (t, o, c, k) {
                if (! t.tock) {
                    var e = t.tock = function () {
                        e.callMethod
                            ? e.callMethod.apply(e, arguments)
                            : e.queue.push(arguments)
                    };
                    t._tock || (t._tock = e),
                    e.push = e,
                    e.loaded = !0,
                    e.version = '1.0',
                    e.queue = [];
                    var f = o.createElement(c);
                    f.async = !0,
                    f.src = k;
                    var g = o.getElementsByTagName(c)[0];
                    g.parentNode.insertBefore(f, g)
                }
            }(window, document, 'script', 'https://www.exploretock.com/tock.js');
            tock('init', 'contigo');
        </script>
        <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </body>
</html>