// Mixins
$mq: (
    "xs": 375px,
    "sm": 768px,
    "md": 1024px,
    "lg": 1360px,
    "xl": 1600px,
    "huge": 1980px,
);

@mixin mq($res) {


    @if xs==$res {
        @media only screen and (min-width: #{map-get($mq, "xs")}) {
            @content;
        }
    }

    @if sm==$res {
        @media only screen and (min-width: #{map-get($mq, "sm")}) {
            @content;
        }
    }

    @if md==$res {
        @media only screen and (min-width: #{map-get($mq, "md")}) {
            @content;
        }
    }

    @if lg==$res {
        @media only screen and (min-width: #{map-get($mq, "lg")}) {
            @content;
        }
    }

    @if xl==$res {
        @media only screen and (min-width: #{map-get($mq, "xl")}) {
            @content;
        }
    }

    @if huge==$res {
        @media only screen and (min-width: #{map-get($mq, "huge")}) {
            @content;
        }
    }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: math.div($height, $width) * 100%;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }
}

:root {
    --font-family: neuzeit-grotesk, sans-serif;
    --color-black: #1A191A;
    --color-grey: #444243;
    --color-navy: #1A3C51;
    --color-green: #789F90;
    --color-red: #B2502E;
    --color-cream: #F5EADB;
    --color-white: #FFF;

    --type-base: 112.5%; // 18px;
    --type-xs: 0.778em; // 14px
    --type-sm: 0.889em // 16px;
    --type-md: 1rem; // 18px
    --type-lg: 1.333em; // 24px
    --type-xl: 1.556em; // 28px
    --type-xxl: 2em; // 36px
    --type-xxxl: 2.444em; // 44px

    --radius: 10px;
    --button-color: var(--color-red);
    --button-hover: var(--color-cream);
}

// Animation
@keyframes topLineClose {
    0% {
        transform: rotate(0deg) translateY(0px);
    }
    50% {
        transform: rotate(0deg) translateY(8px);
    }
    100% {
        transform: rotate(45deg) translateY(8px);
    }
}
@keyframes bottomLineClose {
    0% {
        transform: rotate(0deg) translateY(0px);
    }
    50% {
        transform: rotate(0deg) translateY(-8px);
    }
    100% {
        transform: rotate(-45deg) translateY(-8px);
    }
}
@keyframes topLineOpen {
    0% {
        transform: rotate(45deg) translateY(8px);
    }
    50% {
        transform: rotate(0deg) translateY(8px);
    }
    100% {
        transform: rotate(0deg) translateY(0px);
    }
}
@keyframes bottomLineOpen {
    0% {
        transform: rotate(-45deg) translateY(-8px);
    }
    50% {
        transform: rotate(0deg) translateY(-8px);
    }
    100% {
        transform: rotate(0deg) translateY(0px);
    }
}