h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    line-height: 120%;
}
h2 {
    font-size: var(--size-xl);
    font-weight: 400;
    @include mq(md) {
        font-size: var(--size-xxl);
    }
}
h3 {
    font-size: var(--size-xl);
    font-weight: 700;
}
p {
    font-size: 1em;
    margin-top: 0.889em;
    margin-bottom: 0.556em;
    @include mq(md) {
        font-size: var(--size-xxl);
    }
}
a {
    color: var(--color-red);
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}