.cta {
	background-color: transparent;
	display: flex;
	margin: 16px 0;
	padding: 15px 0;
	justify-content: center;
	align-items: center;
	align-content: center;
	border: 1px solid currentColor;
	border-radius: var(--radius);
	color: var(--button-color);
	transition: all 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	width: 100%;
	&:hover {
		background-color: var(--button-color);
		color: var(--button-hover);
	}
}

.location,
.hours {
	text-align: center;
	ul {
		padding: 0;
	}
	li {
		list-style: none;
	}
}

.email-contact {
	font-size: var(--type-xs);
	text-align: center;
}

.social {
	width: 18px;
	height: 18px;
	margin-right: 16px;
	margin-left: 16px;
	transition: all 150ms cubic-bezier(0.645, 0.045, 0.355, 1);
	color: var(--color-black);
}

.contact-email {
	color: var(--color-grey);
	font-size: var(--type-sm);
}

// "menu" stuff.
.kerlaches-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
	@include mq(md) {
		flex: 1;
	}
	@include mq(lg) {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.hours {
	h2 {
		font-size: var(--type-lg);
		font-weight: 700;
		margin-bottom: 0;
		color: var(--color-red);
	}
	p {
		margin-top: 0;
	}
}
.contact {
	text-align: center;
	> a {
		display: block;
		margin-bottom: 8px;
	}
}

.announcement {
	background: var(--color-red);
	color: var(--color-cream);
	display: flex;
}
[data-banner="false"] {
	.announcement {
		display: none;
	}
}
[data-banner="default"] {
	.announcement {
		height: 33px;
		width: 100%;
		position: sticky;
		top: 0;
		z-index: 200;
		justify-content: center;
		align-items: center;
		> section {
			font-size: var(--type-xs);
			text-align: center;
		}
	}
}

.cover-image {
	padding: 0 18px;
	@include mq(md) {
		padding: 0;
	}
}
