.cta,
#ot-reservation-widget .ot-button {
    background-color: transparent;
    display: flex;
    margin: 16px 0;
    padding: 15px 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 1px solid currentColor;
    border-radius: var(--radius);
    color: var(--button-color);
    transition: all 150ms cubic-bezier(.075, .82, .165, 1);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    &:hover {
        background-color: var(--button-color);
        color: var(--button-hover);
    }
}
.ot-powered-by {
    display: none;
}
#ot-reservation-widget {
    width: 100% !important;
    padding: 0 !important;
    .ot-dtp-picker {
        font-family: inherit !important;
        font-size: inherit !important;
        line-height: 150% !important;
    }
    font-size: var(--type-base) !important;
}
.location,
.hours {
    text-align: center;
}

.email-contact {
    font-size: var(--type-xs);
    text-align: center;
}

.social {
  width: 18px;
  height: 18px;
  margin-right: 16px;
  margin-left: 16px;
  transition: all 150ms cubic-bezier(.645, .045, .355, 1);
  color: var(--color-black);
}

.contact-email {
    color: var(--color-grey);
    font-size: var(--type-sm);
}

// Nav
.nav-overlay {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    @include mq(md) {
        width: 70vw;
    }
    [data-menu-visible="true"] & {
        opacity: 1;
        visibility: visible;
    }
}

button.menu-trigger {
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    box-shadow: none;
    color: inherit;
    margin: 0;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    right: auto;
    bottom: auto;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    > svg {
        width: 100%;
    }
    @include mq(md) {
        top: 16px;
        transform: unset;
    }
}

#slider {
    height: calc(80vh - 85px);
    overflow: hidden;
    .slideshow {
        height: 100%;
        img {
            height: 100%;
            width: auto;
            max-width: none;
            object-fit: cover;
        }
    }
    .glide__track {
        height: 100%;
        width: 100%;
    }
    .pager {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 3px 6px 0px;
        color: var(--color-cream);
        font-size: 12px;
        position: absolute;
        width: 47px;
        height: 21px;
        right: 8px;
        bottom: 8px;

        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(4px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 4px;
    }
    @include mq(md) {
        height: 82vh;
    }
    @include mq(huge) {
        height: 100vh;
    }
}
// "menu" stuff.
.contigo-details {
    visibility: hidden;
    opacity: 0;
    height: calc(100vh - 85px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    @include mq(md) {
        visibility: visible;
        opacity: 1;
    }
    @include mq(lg) {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.hours {
    h2 {
        font-size: var(--type-sm);
        font-weight: 700;
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
}
.contact {
    text-align: center;
    > a {
        display: block;
        margin-bottom: 8px;
    }
}

[data-expandable] {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    span {
        margin-right: 26px;
    }
    /* make sure there is a focus style for keyboard accessibility */
    &:focus {
        outline: 1px dotted var(--color-cream);
        outline-offset: 1px;
    }
}
.accordion div {
    max-width: 570px;
    @include mq(md) {
        padding-left: 62px;
    }
}